<header>
    <h1>About Us</h1>
</header>

<main class="container">
    <div class="profile">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwMdm5Bv9OlOO8WxsEiI3vJN9MrHduwNFtikzHKG0&s"
            alt="Avatar">
        <h2>John Doe</h2>
        <p>
            Hi there! I am John Doe, a passionate web developer. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Quisque euismod ultricies urna, vel commodo elit auctor eu.
            Integer ac fermentum dui.
        </p>
    </div>
</main>

<footer>
    <p>Contact us at: contact@example.com</p>
</footer>